/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
.brand {
  float: left;
  padding-right: 8px;
}

ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
ul.nav li {
  display: inline;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.content{
margin-top:60px;
}

.display{
height: 245px;
width:275px;
margin: 0px 0px 25px 0px;
overflow: hidden;
border: none;
position: relative;
-webkit-box-shadow: 0px 1px 3px #424641;
-moz-box-shadow: 0px 1px 3px #424641;
box-shadow: 0px 1px 3px #424641;
}

.border {
position: relative;
width: auto;
height: auto;
background: white;
margin: 3px 10px 10px 3px;
padding: 10px;
border: 5px solid #dbe4e5;
border: 5px solid rgba(60,148,158,0.1);
text-align: left;
cursor: pointer;
-moz-background-clip: padding;
-webkit-background-clip: padding;
background-clip: padding-box;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
-webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
-webkit-transition: 200ms linear 0s;
-moz-transition: 200ms linear 0s;
-o-transition: 200ms linear 0s;
transition: 200ms linear 0s;
}

.projects{
height: auto;
width: 800px;
}

ul{
list-style-type:none;
}

a.button {
background: #F6694B;
border-radius: 5px;
border: none;
color: #FFF;
text-transform: uppercase;
padding: 10px 15px;
font-weight: normal;
font-family: 'ProximaNovaRegular', Helvetica, Arial, sans-serif;
letter-spacing: 2px;
font-size: 14px;
box-shadow: inset 0 -1px #AC4934;
display: block;
margin: auto;
text-align: center;
}

a.button {
background: rgba(255,255,255,0.4) !important;
box-shadow: none;
padding: 8px 15px;
width: 150px !important;
}

/*DIVIDERS*/
.divider-vertical {
height: 42px;
width: 1px;
margin: 0 5px;
overflow: hidden;
background-color: gainsboro;
border-right: 1px solid white;
}

.horizontal-divider {
height: 1px;
width: 100%;
margin: 0px 0px 10px 0px;
overflow: hidden;
background-color: gainsboro;
border-right: 1px solid white;
}


a:link{
text-decoration:none;
}

