<div class="footer">
	<div class="offset2 span14" >
		<ul class="span3" style="margin-top:25px;color:white;">
			DISCOVER
			<li>Documented Projects</li>
			<li>Active Projects</li>
			<li>Create Project</li>
		</ul>
		<ul class="span3" style="margin-top:25px;color:white;">
			ABOUT
			<li>How It Works</li>
			<li><%= link_to 'Mission', '/mission' %></li>
			<li><%= link_to 'Team', '/team' %></li>
		</ul>
		<ul class="span3" style="margin-top:25px;color:white;">
			CONTACT
			<li>Partners</li>
			<li>Press</li>
			<li>Jobs</li>
		</ul>
			<p class="span3" style="margin-top:25px;color:white;">
			APPROMONDE 2013
			<p class="span3"  style="color:white;">Privacy Policy, Terms</p>
		</ul>
	</div>
</div>